<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <preference for="Codilar\CustomTable\Api\Data\VendorInfoInterface" type="Codilar\CustomTable\Model\VendorInfo"/>
    <preference for="Codilar\CustomTable\Api\VendorInfoRepositoryInterface" type="Codilar\CustomTable\Model\VendorInfoRepository"/>
       <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
            	<!-- Data Source will be mentioned in listing xml -->
                <item name="admincustomtable_listing_data_source" xsi:type="string">Codilar\CustomTable\Model\ResourceModel\VendorInfo\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Codilar\CustomTable\Model\ResourceModel\VendorInfo\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
        	<!-- Table name to insert data and listing data -->
            <argument name="mainTable" xsi:type="string">vendor_info</argument>
            <!-- Resource model name -->
            <argument name="resourceModel" xsi:type="string">Codilar\CustomTable\Model\ResourceModel\VendorInfo</argument>
        </arguments>
    </virtualType>
</config>
