<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Codilar\VendorModule\Model\VendorRepositoryInterface" type="Codilar\VendorModule\Model\VendorRepository" />
    <preference for="Codilar\VendorModule\Model\ResourceModel\Vendor\Collection" type="Codilar\VendorModule\Model\ResourceModel\CustomTable\Collection" />

    <type name="Codilar\VendorModule\Model\VendorRepository">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Codilar\VendorModule\Model\ResourceModel\Vendor\CollectionFactory</argument>
            <argument name="vendorConfig" xsi:type="object">Codilar\VendorModule\Model\VendorConfig</argument>
        </arguments>
    </type>
</config>
